<app-navbar></app-navbar>
<div class="container">
  <h2>Receipt</h2>
  <div *ngFor="let item of basketItems" class="receipt-item">
    <div class="item-detail">
      <span class="label">Product Name:</span>
      <span>{{ item.productName }}</span>
    </div>
    <div class="item-detail">
      <span class="label">Unit Price:</span>
      <span>{{ item.unitPrice | currency:'EUR':'symbol' }}</span>
    </div>
    <div class="item-detail">
      <span class="label">Amount:</span>
      <span>{{ item.amount }}</span>
    </div>
    <div class="item-detail">
      <span class="label">Total Discount:</span>
      <span>{{ item.totalDiscount | currency:'EUR':'symbol' }}</span>
    </div>
    <div class="item-detail">
      <span class="label">Original Price:</span>
      <span>{{ item.originalPrice | currency:'EUR':'symbol' }}</span>
    </div>
    <div class="item-detail">
      <span class="label">Discounted Price:</span>
      <span>{{ item.discountedPrice | currency:'EUR':'symbol' }}</span>
    </div>
  </div>
  <div class="total">
    <span class="label">Total Original Price:</span>
    <span>{{ totalBasketOriginalPrice | currency:'EUR':'symbol' }}</span>
  </div>
  <div class="total">
    <span class="label">Total Discounted Price:</span>
    <span>{{ totalBasketDiscountedPrice | currency:'EUR':'symbol' }}</span>
  </div>
  <button class="btn-primary" [routerLink]="['/user-baskets']">Back to your Baskets</button> 
</div>